<div class="row">
  <!-- col -->
  <div class="col-md-12">


      <!-- tile -->
      <section class="tile">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Advanced</strong> Table</h1>
              <ul class="controls">
                  <li class="dropdown">

                      <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                          <i class="fa fa-cog"></i>
                          <i class="fa fa-spinner fa-spin"></i>
                      </a>

                      <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                          <li>
                              <a role="button" tabindex="0" class="tile-toggle">
                                  <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                  <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                              </a>
                          </li>
                          <li>
                              <a role="button" tabindex="0" class="tile-refresh">
                                  <i class="fa fa-refresh"></i> Refresh
                              </a>
                          </li>
                          <li>
                              <a role="button" tabindex="0" class="tile-fullscreen">
                                  <i class="fa fa-expand"></i> Fullscreen
                              </a>
                          </li>
                      </ul>

                  </li>
                  <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
              </ul>
          </div>
          <!-- /tile header -->

          <!-- tile widget -->
          <div class="tile-widget">

              <div class="row">

                  <div class="col-sm-5">
                      <select class="input-sm form-control inline w-sm">
                          <option value="0">Bulk action</option>
                          <option value="1">Delete selected</option>
                          <option value="2">Archive selected</option>
                          <option value="3">Copy selected</option>
                      </select>
                      <button class="btn btn-sm btn-default">Apply</button>
                  </div>

                  <div class="col-sm-3"></div>

                  <div class="col-sm-4">
                      <div class="input-group">
                          <input type="text" class="input-sm form-control" placeholder="Search...">
                            <span class="input-group-btn">
                              <button class="btn btn-sm btn-default" type="button">Go!</button>
                            </span>
                      </div>
                  </div>

              </div>

          </div>
          <!-- /tile widget -->

          <!-- tile body -->
          <div class="tile-body p-0">

              <div class="table-responsive">
                  <table class="table mb-0" id="usersList">
                      <thead>
                      <tr>
                          <th style="width:20px;">
                              <label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0">
                                  <input type="checkbox" id="select-all"><i></i>
                              </label>
                          </th>
                          <th>First Name</th>
                          <th>Last Name</th>
                          <th>Username</th>
                          <th style="width:30px;"></th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                          <td>
                              <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                          <td>
                              <span class="check-toggler toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Mary</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                          <td>
                              <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Marv</td>
                          <td>Bond</td>
                          <td>@marvo</td>
                          <td>
                              <span class="check-toggler" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Larry</td>
                          <td>Cardl</td>
                          <td>@lurie</td>
                          <td>
                              <span class="check-toggler toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Jennifer</td>
                          <td>Minelly</td>
                          <td>@jen</td>
                          <td>
                              <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Sly</td>
                          <td>Stall</td>
                          <td>@sly</td>
                          <td>
                              <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Arnold</td>
                          <td>Percy</td>
                          <td>@arnie</td>
                          <td>
                              <span class="check-toggler checked toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                          <tr><td><label class="checkbox checkbox-custom-alt checkbox-custom-sm m-0"><input type="checkbox" class="selectMe"><i></i></label></td>
                          <td>Jack</td>
                          <td>Black</td>
                          <td>@blacko</td>
                          <td>
                              <span class="check-toggler toggle-class" data-toggle="checked"></span>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>


          </div>
          <!-- /tile body -->

          <!-- tile footer -->
          <div class="tile-footer dvd dvd-top">
              <div class="row">

                  <div class="col-sm-5 hidden-xs">
                      <select class="input-sm form-control w-sm inline">
                          <option value="0">Bulk action</option>
                          <option value="1">Delete selected</option>
                          <option value="2">Archive selected</option>
                          <option value="3">Copy selected</option>
                      </select>
                      <button class="btn btn-sm btn-default">Apply</button>
                  </div>

                  <div class="col-sm-3 text-center">
                      <small class="text-muted">showing 20-30 of 50 items</small>
                  </div>

                  <div class="col-sm-4 text-right">
                      <ul class="pagination pagination-sm m-0">
                          <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
                          <li><a href="">1</a></li>
                          <li><a href="">2</a></li>
                          <li><a href="">3</a></li>
                          <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
                      </ul>
                  </div>

              </div>
          </div>
          <!-- /tile footer -->

      </section>
      <!-- /tile -->


      <!-- tile -->
      <section class="tile">

          <!-- tile header -->
          <div class="tile-header dvd dvd-btm">
              <h1 class="custom-font"><strong>Contextual </strong>Classes</h1>
              <ul class="controls">
                  <li class="dropdown">

                      <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
                          <i class="fa fa-cog"></i>
                          <i class="fa fa-spinner fa-spin"></i>
                      </a>

                      <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                          <li>
                              <a role="button" tabindex="0" class="tile-toggle">
                                  <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
                                  <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
                              </a>
                          </li>
                          <li>
                              <a role="button" tabindex="0" class="tile-refresh">
                                  <i class="fa fa-refresh"></i> Refresh
                              </a>
                          </li>
                          <li>
                              <a role="button" tabindex="0" class="tile-fullscreen">
                                  <i class="fa fa-expand"></i> Fullscreen
                              </a>
                          </li>
                      </ul>

                  </li>
                  <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
              </ul>
          </div>
          <!-- /tile header -->

          <!-- tile body -->
          <div class="tile-body p-0">

              <table class="table">
                  <thead>
                  <tr>
                      <th>#</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                      <th>Column heading</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="active">
                      <td>1</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr class="success">
                      <td>3</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr>
                      <td>4</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr class="warning">
                      <td>5</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr class="danger">
                      <td>7</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  <tr class="info">
                      <td>9</td>
                      <td>Column content</td>
                      <td>Column content</td>
                      <td>Column content</td>
                  </tr>
                  </tbody>
              </table>

          </div>
          <!-- /tile body -->

      </section>
      <!-- /tile -->


  </div>
  <!-- /col -->
</div>
