<aside id="sidebar">


  <div id="sidebar-wrap">

    <div class="panel-group slim-scroll" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#sidebarNav">
              Navigation
              <i class="fa fa-angle-up"></i>
            </a>
          </h4>
        </div>
        <div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">

            <!-- ===================================================
                                        ================= NAVIGATION Content ===================
                                        ==================================================== -->
            <ul id="navigation">
              <li class="active">
                <a routerLink="/">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li>
                <a role="button" tabindex="0">
                  <i class="fa fa-shopping-cart"></i>
                  <span>Product Details</span>
                </a>
                <ul>
                  <li>
                    <a routerLink="licence">
                      <i class="fa fa-caret-right"></i> Manage Products</a>
                  </li>
                  <li>
                    <a routerLink="licence">
                      <i class="fa fa-caret-right"></i> Software Requests </a>
                  </li>
                </ul>
              </li>
              <li>
                  <a role="button" tabindex="0">
                    <i class="fa fa-key"></i>
                    <span>License Management</span>
                  </a>
                  <ul>
                    <li>
                      <a routerLink="licence">
                        <i class="fa fa-caret-right"></i> Product Licenses</a>
                    </li>
                    <li>
                      <a routerLink="licence">
                        <i class="fa fa-caret-right"></i> Compliance Details </a>
                    </li>
                    <li>
                      <a routerLink="licence">
                        <i class="fa fa-caret-right"></i> Renewal Requests </a>
                    </li>
                  </ul>
                </li>
              <li>
                <a role="button" tabindex="0">
                  <i class="fa fa-users"></i>
                  <span>Customer Information</span>
                </a>
                <ul>
                  <li>
                    <a routerLink="customers/manage">
                      <i class="fa fa-caret-right"></i> Manage Customers</a>
                  </li>
                  <li>
                    <a routerLink="customers/activate-licence">
                      <i class="fa fa-caret-right"></i> Activate Licence </a>
                  </li>
                </ul>
              </li>
              <li>
                <a role="button" tabindex="0">
                  <i class="fa fa-files-o"></i>
                  <span>Reports</span>
                </a>
                <ul>
                  <li>
                    <a routerLink="reports/licence">
                      <i class="fa fa-caret-right"></i> Products Vs Licenses</a>
                  </li>
                  <li>
                    <a routerLink="reports/customers">
                      <i class="fa fa-caret-right"></i> Compliance Report  </a>
                  </li>
                  <li>
                      <a routerLink="reports/customers">
                        <i class="fa fa-caret-right"></i> License Sales Report  </a>
                    </li>
                </ul>
              </li>
              <!-- <li>
                <a role="button" tabindex="0">
                  <i class="fa fa-list"></i>
                  <span>Escalated Queries</span>
                </a>

              </li> -->

            </ul>
            <!--/ NAVIGATION Content -->


          </div>
        </div>
      </div>
      <div class="panel charts panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#sidebarCharts">
              Orders Summary
              <i class="fa fa-angle-up"></i>
            </a>
          </h4>
        </div>
        <div id="sidebarCharts" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="summary">

              <div class="media">
                <a class="pull-right" role="button" tabindex="0">
                  <span class="sparklineChart" values="5, 8, 3, 4, 6, 2, 1, 9, 7" sparkType="bar" sparkBarColor="#92424e" sparkBarWidth="6px"
                    sparkHeight="36px">
                    Loading...</span>
                </a>
                <div class="media-body">
                  This week sales
                  <h4 class="media-heading">26, 149</h4>
                </div>
              </div>

              <div class="media">
                <a class="pull-right" role="button" tabindex="0">
                  <span class="sparklineChart" values="2, 4, 5, 3, 8, 9, 7, 3, 5" sparkType="bar" sparkBarColor="#397193" sparkBarWidth="6px"
                    sparkHeight="36px">
                    Loading...</span>
                </a>
                <div class="media-body">
                  This week balance
                  <h4 class="media-heading">318, 651</h4>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


</aside>