<div class="page page-ui-tiles">
  <div class="pageheader">
    <h2>Licence List</h2>
    <a routerLink="/licence/create">Create Product</a>
  </div>

  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-4" *ngFor="let product of products">
      <!-- tile -->
      <section class="tile">
        <div class="tile-header dvd dvd-btm">
          <h1 class="custom-font"><strong>{{ product.name }}</strong></h1>
          <ul class="controls">
            <li class="modify"><a role="button" tabindex="0" class="tile-close">Modify <i class="fa fa-cog"></i></a></li>
            <li class="remove"><a role="button" tabindex="0" class="tile-close">Delete <i class="fa fa-trash"></i></a></li>
          </ul>
        </div>
        <div class="tile-image">
          <img [src]="product.photo" />
        </div>
        <div class="tile-widget">
          <p>Product Key : {{ product.sku }}</p>
        </div>
        <div class="tile-body">
          <p>{{ product.desc }}</p>
        </div>
        <div class="tile-widget">
          <p>Price : {{ product.price }} $</p>
        </div>
      </section>
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>